@font-face {
    font-family: monster ;
    src: url("./fonts/OpenSans-Bold.ttf");
}

h2 {
    background-color: brown;
    color:aliceblue;
    padding: auto;
    margin: auto;
    width: auto;
    height: 40px;
    text-align: center;
    background-image: url("./images/logo/banner2.jpg");
}

th{
    padding: 10px;
    background-color: rgb(15, 15, 116);
    width: 200px;
    border:1px solid white;
}

table, td{
    color:white;
    vertical-align: top;
    background-size: contain;
    border-collapse: collapse;
    border: 1px solid white;
    width: auto;
    height: 110px;
}

.add {
    background-color:burlywood;
}

.note1:hover {
    padding: auto;
    background-image: url("./images/logo/cup\ cake.jpg");
    border:2px solid rgb(21, 21, 116);
    background-repeat: no-repeat;
    text-shadow: 2px 2px brown;
    background-position: center;
}

.note3:hover {
    padding: auto;
    background-image: url("./images/logo/istockphoto.jpg");
    border:2px solid rgb(21, 21, 116);
    background-repeat: no-repeat;
    text-shadow: 2px 2px brown;
    background-position: center;
}

.note2:hover {
    visibility: hidden;
}


.pic1 {
    background-image: url("./images/logo/Khmer\ New\ Year\ pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pic2 {
    background-image: url("./images/logo/Khmer\ New\ Year\ pic2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pic3 {
    background-image: url("./images/logo/Khmer\ New\ Year\ pic3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    background-image: url("./images/logo/sunset-horizon-scenery-landscape-art-uhdpaper.com-4K-178.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1px;
    width: auto;
    margin: 0px auto;
    padding: 0px auto;
}